{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
About
{% endblock %}

{% block style %}
<style>
  blockquote {
    font-size: 1.1em;
    width: 90%;
    margin: 30px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1em 10px 1em 7px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
  }
  img {
    max-width: 100%;
    height: auto !important;
}
  
</style>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col">

        <h1 class="mb-3 font-weight-bold" style="margin-bottom: 0.5rem; font-size: 32px;">{{ about.title }}</h1>
        <span class="" style="opacity: 0.6;">{{ about.created_at }}</span>
        <br>
        
        
        {% if about.image %}
        <img src="{{ about.image.url }}" class="card-img-top" alt="...">
        {% endif %}
        
        
        {{ about.content | safe }}
        <a href="{% url 'common:home' %}" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div>
</section>



{% endblock %}