{% extends 'base.html' %}
{% load static %}
{% block title %} 
    About
{% endblock %}

{% block content %}

<main class="content" style="line-height: 1.2;">
    
    <section class="about-me-section p-3 p-lg-5 theme-bg-light">
      <div class="container">
        <div class="profile-teaser row">
          <div class="col">
            <h2 class="name font-weight-bold mb-1" style="font-size: 50px; font-weight: bold;">Bahrom Bek</h2>
            <div class="tagline mb-3" style="font-size: 1.5rem;">Software Engineer</div>
            <div class="bio mb-4" style="font-size: 1.1rem;">I'm a software engineer specialised in backend development for complex scalable web apps. I write about software development on my blog</div>
            <div class="mb-4">
              <!-- resume -->
              <!-- <a class="btn btn-primary me-2 mb-3" href=""><svg class="svg-inline--fa fa-circle-right me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 135.1l99.9 107.1c3.5 3.8 5.5 8.7 5.5 13.8s-2 10.1-5.5 13.8L294.6 376.9c-4.2 4.5-10.1 7.1-16.3 7.1C266 384 256 374 256 361.7l0-57.7-96 0c-17.7 0-32-14.3-32-32l0-32c0-17.7 14.3-32 32-32l96 0 0-57.7c0-12.3 10-22.3 22.3-22.3c6.2 0 12.1 2.6 16.3 7.1z"></path></svg> <i class="fas fa-arrow-alt-circle-right me-2"></i> Font Awesome fontawesome.com<span class="d-none d-md-inline">View</span> Portfolio</a> -->
              <!-- <a class="btn btn-secondary mb-3" href="resume.html"><svg class="svg-inline--fa fa-file-lines me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-lines" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM112 256H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H272c8.8 0 16 7.2 16 16s-7.2 16-16 16H112c-8.8 0-16-7.2-16-16s7.2-16 16-16z"></path></svg><i class="fas fa-file-alt me-2"></i> Font Awesome fontawesome.com<span class="d-none d-md-inline">View</span> Resume</a> --> 
            </div>
          </div>
          <div class="col-md-5 col-lg-5">
            <img class="profile-image img-fluid mb-3 mb-lg-0 me-md-0" src="{% static 'images/bahrom2.jpg' %}" alt="">

        </div>
        </div>
      </div>
    </section>


    <!-- skills -->
    <section class="overview-section p-3 p-lg-5" style="font-size: 1.1rem;">
      <div class="container">
        <h2 class="section-title font-weight-bold mb-3">What I do</h2>
        <div class="section-intro mb-5">I have 1 year experience building software for clients. Below is a quick overview of my main technical skill sets and technologies I use. Want to find out more about my experience? Check out my <a class="text-link" href="">online resume</a> and <a class="text-link" href="">project portfolio</a>.</div>


        <div class="row">
          <div class="item col-6 col-lg-3">
            <div class="item-inner">
              <div class="item-icon">
                <i class="fa-brands fa-python" style="font-size: 2rem;"></i>
              </div>
              <h3 class="item-title">Python & Django</h3>
              <div class="item-desc">Python, Django, and the Django Rest Framework, develop robust and efficient web applications with a focus on RESTful API integration</div>

            </div>
          </div>
          <div class="item col-6 col-lg-3">
            <div class="item-inner">
              <div class="item-icon">
                <i class="fa-brands fa-html5" style="font-size: 2rem;"></i>
                <i class="fa-brands fa-css3-alt" style="font-size: 2rem;"></i>
              </div>
              <h3 class="item-title">HTML & CSS</h3>
              <div class="item-desc">I am adept at crafting dynamic and visually appealing web interfaces through HTML and CSS templates</div>

            </div>
          </div>
          <div class="item col-6 col-lg-3">
            <div class="item-inner">
              <div class="item-icon">
                <i class="fa-brands fa-linux" style="font-size: 2rem;"></i>
              </div>
              <h3 class="item-title">Linux</h3>
              <div class="item-desc">Well-versed in managing Ubuntu servers, ensuring seamless deployment and maintenance of web applications</div>

            </div>
          </div>
          <div class="item col-6 col-lg-3">
            <div class="item-inner">
              <div class="item-icon">
                <i class="fa-solid fa-database" style="font-size: 2rem;"></i>
              </div>
              <h3 class="item-title">SQL</h3>
              <div class="item-desc">PostgreSQL, MySQL, and SQLite, data-driven web applications.</div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <a href="{% url 'home' %}" class="btn btn-primary">Blog</a>

    
    
    <footer class="footer">
      <small style="margin-bottom: 20px; display: inline-block">
        © 2023
        <a target="_blank" href="https://bahrombek.uz"> bahrombek.uz</a>
      </small>
      <br />

      <div class="social-links">
        <a href="https://github.com/bahrom04" target="_blank">
          <i class="ri-github-fill ri-xl"></i>
        </a>
        
        <a href="https://www.linkedin.com/in/bahrom-bek-6b8a49212/" target="_blank">
          <i class="ri-linkedin-box-fill ri-xl"></i>
        </a>
      </div>
      <br>
    </footer>

  </main>

{% endblock %}