{% extends "base.html" %}
{% load i18n %}


{% block content %}
<section>

    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="tags">
                    {% if object_list %}
                    {% for event in object_list %}
                    <li><a href="{% url 'common:location' event.id %}">{{ event.title }}</a></li>
                    {% endfor %}
                    {% else %}
                    <li>{% trans 'No events found' %}</li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'common:home' %}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}