{% extends 'base.html' %}
{% load i18n %}


{% block title %}
Bahrom
{% endblock %}

{% block content %}

<section class="about-me-section p-3 p-lg-5 theme-bg-light">

  <div class="container">
    <div class="row">

      <div>
        <br>
        <h2 class="name font-weight-bold mb-1" style="font-size: 40px; font-weight: bold;">{% trans 'Resent posts' %}
        </h2>
      </div>

      <!-- cards -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
        <div class="col">
          <div class="card">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
              <span class="badge text-bg-info">{{ post.created_at }}</span>
              <span> <i class="fa-solid fa-eye"></i></i>{{ post.views }}</span>

              {% for tag in tags %}
              <span class="badge rounded-pill text-bg-dark">{{ tag }}</span>
              {% endfor %}
              <br><br>
              {% if post.short_description %}
              <p class="card-text">{{ post.short_description }}</p>
              {% endif %}
              <a href="{% url 'common:post' post.id %}" class="btn btn-primary">Read more</a>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      

        

          
          </a>
        </div>
        <br>
      </footer>
    </div>
  </div>
</section>

{% endblock %}