{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="tags">
                {% if position_detail %}

                <p>{{position_detail.title}}</p>
                <p>{{position_detail.description|safe}}</p>
                <p>{{position_detail.arentir}}</p>
                {% else %}
                <li>No position found</li>
                {% endif %}

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'common:event' %}" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>

{% endblock %}