<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG Background Change</title>
    <style>
        

    </style>
</head>
<body>

    <section class="">
        <img src="../staticfiles/opasi.jpg" alt="event">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sed obcae
            cati, magni eaque quid nihil voluptates s!</div>
    </section>
    

    <script>
    </script>
</body>
</html>
