{% load static i18n %}


<footer class="bg-zinc-900 grid grid-cols-1 pt-7 mt-auto">
    
    <div class="flex items-center justify-center">
      <img class="justify-center items-end h-14" style="border-radius: 100%;" src="{% static 'opasi.jpg' %}" alt="logo" >
  
    </div>

    <div class="mt-3">
      <ul
          class="flex flex-col justify-center font-medium p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
          <li>
            <a href="{% url 'common:about' %}" class="block py-2 px-3 md:p-0 text-white rounded md:bg-transparent hover:text-blue-700
              opacity-50">{% trans 'About' %}</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 text-white rounded md:bg-transparent hover:text-blue-700
              opacity-50">Cookie fayllari siyosati</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 text-white rounded md:bg-transparent hover:text-blue-700
              opacity-50">Foydalanish qoidalari</a>
          </li>
        </ul>
    </div>

    <div class="flex justify-center space-x-5 md:mt-4">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-telegram"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
  
    <div class="border-3 border-black mt-2 p-3 mx-3 justify-between flex">
      <p class="">@ kedi.uz. All rights reserved</p>

    </div>
  </footer>
