{% load static i18n %}

<div class="bg-zinc-900 sticky top-0 z-50">
  <nav class="border-gray-200 ">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="{% url 'common:home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="{% static 'opasi.jpg' %}" style="border-radius: 100%;" class="h-10" alt="Logo" />
        </a>
      <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">

        <form action="{% url 'set_language' %}" method="post" class="mr-2">
          {% csrf_token %}
          
          <!-- Language Dropdown -->
          <div class="relative w-full bg-black">
            <select name="language" onchange="this.form.submit()" class="bg-black text-white border-none block py-3 w-32 cursor-pointer focus:border-zinc-900 border-zinc-900 appearance-none focus:ring-0 rounded-sm">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
        
              {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                  {{ lang.1 }}
                </option>
              {% endfor %}
            </select>
        
            <!-- Ensure the current path is maintained after language selection -->
            <input type="hidden" name="next" value="{{ request.path }}">
          </div>
        </form>
        

        {% if user.is_authenticated %}
          {% if socialaccount_obj %}
            {% for account in socialaccount_obj %}
              {% if account.provider == 'google' %}
              <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="{{ account.extra_data.picture }}" alt="user photo">
              </button>
              <!-- Dropdown menu -->
              <div class="z-50 hidden my-4 text-base list-none divide-y rounded-lg shadow bg-gray-700 divide-gray-600" id="user-dropdown">
                <div class="px-4 py-3">
                  <span class="block text-sm text-white">{{ user.username }}</span>
                  <span class="block text-sm truncate text-gray-400">{{ user.email }}</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                  {% if request.user.is_authenticated %}
                  <li>
                    <a href="{% url 'common:user_saved' %}" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Saved</a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="{% url 'account_logout' %}" class="block px-4 py-2 text-sm hover:bg-gray-600 text-gray-200 hover:text-white">Sign Out</a>
                  </li>
                </ul>
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
          <a href="{% url 'account_login' %}">
            <button type="button" class="text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Kirish
            </button>
          </a>
        {% endif %}
        
        <!-- Hamburger menu button -->
        <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
      </div>

      <!-- Mobile menu -->
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 border-gray-700">
          <li>
            <a href="{% url 'common:home' %}" class="block py-2 px-3 text-red rounded md:bg-transparent md:p-0 hove:text-blue-500" aria-current="page">{% trans 'Home' %}</a>
          </li>
          <li>
            <a href="{% url 'common:about' %}" class="block py-2 px-3 rounded md:hover:bg-transparent md:p-0 text-white hover:text-blue-500 hover:bg-gray-700">{% trans 'About' %}</a>
          </li>
          <li>
            <a href="{% url 'common:event' %}" class="block py-2 px-3 rounded md:hover:bg-transparent md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white">{% trans 'Event' %}</a>
          </li>
          <li>
            <a href="{% url 'book:community' %}" class="block py-2 px-3 rounded md:hover:bg-transparent md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white">{% trans 'Nature team'%}</a>
          </li>
          <li>
            <a href="{% url 'book:lost-animal-list' %}" class="block py-2 px-3 rounded md:hover:bg-transparent md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white">{% trans 'Lost pet' %}</a>
          </li>
          <li>
            <a href="{% url 'book:lost-animal' %}" class="block py-2 px-3 rounded md:hover:bg-transparent md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white">{% trans 'Report lost pet' %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

