{% extends 'redesign/base.html' %}

{% block custom_css %}
<!-- custom-css -->
<style type="text/tailwindcss">
    @layer utilities {
        blockquote {
    font-size: 1.1em;
    width: 90%;
    margin: 30px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1em 10px 1em 7px;
    border-left: 8px solid #78C0A8;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
  }


  h1,h2,h3,h4,p {
    opacity: 0.75;
}
    h1,h2{
        font-size: 40px;
    }
        
    }
</style>
<!-- custom-css-end -->
{% endblock %}
{% block content %}
<main class="grid grid-cols-4">
    <div class="gap-10 col-span-3">
        <div class="grid grid-cols-1 gap-6 p-6">
            <div class="overflow-hidden relative bg-zinc-900 rounded-md p-3">
                <h1 class="font-bold text-3xl ">
                    {{about.title}}
                </h1>
                <div>
                    <p class="opacity-50 mt-2">{{about.created_at}}</p>
                </div>
                <img src="{{about.img.url}}" class="w-full  object-cover rounded-md">
                <div class="p-7">
                    {{ about.content | safe }}
                </div>
            </div>
        </div>
    </div>
    <!-- news-end -->
    <!-- top books -->
    <div class="pr-5">
        <div class="p-6 h-60 bg-blue-800 rounded-lg">
            <p>Yoshlar portali</p>
            <h2 class="font-bold text-xl max-w-60 mt-4">
                Aynan
                <span class="text-yellow-300">siz</span>
                uchun qanday
                imtiyozlar borligini bilib oling
            </h2>
            <button type="button" class="mt-6 text-white hover:bg-blue-800 focus:ring-4 
  focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 
  py-2 text-center dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-blue-800
  ml-auto">
                Batafsil
                <i class="fa-solid fa-door-open"></i>
            </button>
        </div>
        <div class="mt-6 p-4 h-auto bg-zinc-900  rounded-lg">
            <h1 class="text-xl font-bold ">Top kitoblar</h1>
            <div class="grid grid-cols-1 mt-3">
                <div class="grid grid-cols-3 mt-2">
                    <div class="col-span-1">
                        <img src="../asserts/books/chessbook1.png" alt="chessbook1">
                    </div>
                    <div class="text-left col-span-2">
                        <h2 class="text-sm font-bold w-full">Shaxmatdagi qobiliyatingizga baho bering</h2>
                        <p class="mt-4 opacity-70 tex">John Doe</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 mt-5">
                    <div class="col-span-1">
                        <img src="../asserts/books/2.png" alt="2.png">
                    </div>
                    <div class="text-left col-span-2">
                        <h2 class="text-sm font-bold w-full">Shaxmatdagi qobiliyatingizga baho bering</h2>
                        <p class="mt-4 opacity-70 tex">A.Nimzonovich</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 mt-5">
                    <div class="col-span-1">
                        <img src="../asserts/books/3.png" alt="3.png">
                    </div>
                    <div class="text-left col-span-2">
                        <h2 class="text-sm font-bold w-full">Shaxmatdagi qobiliyatingizga baho bering</h2>
                        <p class="mt-4 opacity-70 tex">D.Bronshtain</p>
                    </div>
                </div>
                <div class="grid grid-cols-3 mt-5">
                    <div class="col-span-1">
                        <img src="../asserts/books/4.png" alt="b.Fishcher">
                    </div>
                    <div class="text-left col-span-2">
                        <h2 class="text-sm font-bold w-full">Shaxmatdagi qobiliyatingizga baho bering</h2>
                        <p class="mt-4 opacity-70 tex">B.Fischer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
