{% extends 'redesign/base.html' %}
{% load static %}

{% block custom_css %} 
<link rel="stylesheet" href="{% static 'community.css' %}">
{% endblock %}


{% block content %}
<!-- Teacher card start  -->
<section class="tc-main-box">
    {% if object_list %}
        {% for item in object_list %}
        <button class="tc-card ">
            <div class="texts-box-tc">
                <h1 class="h1-text-tc">
                    {{ item.title }}
                </h1>
            </div>
            <img class="img-tc" src="{{item.image.url}}" alt="photo">
        </button>
        {% endfor %}
    {% else %}
    <div>no community fount</div>
    {% endif %}
</section>
<!--  Teacher card end  -->
<!-- model teacher start  -->
{% if object_list %}
    {% for item in object_list %}
    <div class="box-with-button1">
        <div class="box-with-button">
            <div class="mt-main-box">
                <div class="img-box-mt">
                    <img class="img-mt" src="{{ item.image.url }}" alt="photo">
                    <p class="p-under-img">{{ item.title }}</p>
                    <div class="under-text-img">
                        <h1 class="h1-text-mt">小林　正規</h1>
                        <p class="p-text-mt">（こばやし　まさき）</p>
                    </div>
                </div>
                <div class="texts-box-mt">
                    <div class="texts-mt">
                        <h2 class="h2-text-mt">{{ item.telegram_link }}</h2>
                        <p class="p-text-mt">{{ item.description|safe }}</p>
                    </div>
                </div>
            </div>
            <span class="close-modal">Ortga</span>
        </div>
    </div>
    {% endfor %}
{% endif %}
<!--  model teacher end  -->
<script>
    let modals = document.getElementsByClassName("box-with-button1");
    let btns = document.getElementsByClassName("tc-card");
    let spans = document.getElementsByClassName("close-modal");

    for(let i = 0; i < btns.length; i++) {
        btns[i].onclick = function(){
            modals[i].style.display = "block";
        }
    }

    for(let i = 0; i < spans.length; i++){
        spans[i].onclick = function(){
            modals[i].style.display = "none";
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        for (let i = 0; i < modals.length; i++) {
          if (event.target == modals[i]) {
            modals[i].style.display = "none";
          }
        }
      }
</script>
{% endblock %}
