{% extends 'redesign/base.html' %}
{% load i18n %}


{% block content %}
<main class="grid lg:grid-cols-4">
    <!-- event-start -->
    <div class="gap-10 lg:col-span-3">
        <div class="grid grid-cols-1 gap-6 p-6">
            <div class="overflow-hidden relative bg-zinc-900 rounded-md p-3">
                <ul class="tags">
                    {% if object_list %}
                        {% for event in object_list %}
                        <li class="hover:text-blue-600"><a href="{% url 'common:location' event.id %}">{{ event.title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>{% trans 'No events found' %}</li>
                    {% endif %}
                </ul>

                <div class="mt-4 hover:text-blue-600">
                    <a href="{% url 'common:home' %}" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
    <!-- event-end -->
    
    {% include 'redesign/top_community.html' %}

</main>

{% endblock %}
