{% extends 'redesign/base.html' %}
{% load i18n static %}


{% block content %}
<main class="grid lg:grid-cols-4 max-w-screen-xl items-center justify-between mx-auto">
    <!-- event-start -->
    <div class="gap-10 lg:col-span-3">
        <div class="grid grid-cols-1 gap-6 p-6">
            <div class="overflow-hidden relative bg-zinc-900 rounded-md p-3">
                <ul class="grid gap-6">
                    {% if object_list %}
                        {% for event in object_list %}
                        <a href="{% url 'common:location' event.id %}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-2xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                            <img class="object-cover w-full rounded-t-lg  h-60 md:w-full md:rounded-none md:rounded-s-lg" src="{{ event.image.url }}" alt="">
                            <div class="flex flex-col justify-between p-4 leading-normal">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.title }}</h5>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                            </div>
                        </a>
                        {% endfor %}
                    {% else %}
                        <li>{% trans 'No events found' %}</li>
                    {% endif %}
                </ul>
  
                </div>
                
            <div class="flex justify-end"> 
                <a href="{% url 'common:home' %}" class="justify-end bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>
            </div>
        </div>
    </div>
    <!-- event-end -->
    
    {% include 'redesign/top_community.html' %}

</main>

{% endblock %}
