{% extends 'redesign/base.html' %}
{% load static i18n %}

{% block content %}
<main class="grid lg:grid-cols-4 max-w-screen-xl items-center justify-between mx-auto">
    <div class="gap-10 lg:col-span-3">
        <div class="flex justify-between items-center">
            <h1 class="font-bold text-3xl px-6">{% trans 'News' %}</h1>
            <i class="fa-solid fa-magnifying-glass mr-9"></i>
        </div>
        <!-- news -->
        <div class="grid gap-6 p-6 md:grid-cols-2 lg:grid-cols-3">
            {% for post in posts %}
            <div class="overflow-hidden relative bg-zinc-900 rounded-md p-3">
                <a href="{% url 'common:post' post.id %}" class="btn btn-primary">
                    <!-- <img src="{{ post.image.url }}" class="w-full sm:h-32 object-cover rounded-md" alt="img"> -->
                    <img src="{{ post.image.url }}" class="w-full object-cover h-64 md:h-10  rounded-md" alt="image">

                </a>
                <div>
                    <p class="opacity-50 mt-2">{{post.created_at}}</p>
                </div>
                <div>
                    <h3 class="mt-2 mb-2 leading-5 hover:text-blue-500">
                        <a href="{% url 'common:post' post.id %}" class="btn btn-primary">{{post.title}}</a>
                    </h3>
                    <h4 class="opacity-75 hover:text-blue-500">
                        <a href="{% url 'common:post' post.id %}" class="btn btn-primary">{{post.short_description}}</a>
                    </h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- news-end -->
    {% include 'redesign/top_community.html' %}
</main>
{% endblock %}