{% extends 'redesign/base.html' %}
{% load static i18n %}

{% block custom_css %}
<!-- custom-css -->
<style>
#map {
     height: 600px;
     width: 100%;
}

.parent-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.svg-container {
    cursor: pointer;
    margin-top: 6px;
    width: 20px;
}

.svg-container img {
    width: 100%;
}

</style>
<!-- custom-css-end -->
{% endblock %}

{% block link_and_scripts %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css">

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

<link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css" type="text/css">
<script src="//unpkg.com/leaflet-gesture-handling"></script>

{% endblock %}

{% block content %}
<main class="grid lg:grid-cols-4 max-w-screen-xl items-center justify-between mx-auto">
    <!-- event-start -->
    <div class="gap-10 lg:col-span-3 p-6 z-10">
        <div class="overflow-hidden relative bg-zinc-900 rounded-md p-3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            {{ positions|json_script:"stations_json" }}
            {{ user_saved_positions|json_script:"user_saved_position_json"}}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    let userSavedPositions = JSON.parse(document.getElementById('user_saved_position_json').textContent);
                
                    function updateUserSavedPositions(positionId, action) {
                        if (action === 'save') {
                            if (!userSavedPositions.includes(positionId)) {
                                userSavedPositions.push(positionId);
                            }
                        } else if (action === 'unsave') {
                            userSavedPositions = userSavedPositions.filter(id => id !== positionId);
                        }
                
                        // Update all visible popup icons based on current saved positions
                        document.querySelectorAll('.svg-container img').forEach(img => {
                            const posId = img.closest('.svg-container').dataset.positionId;
                            img.src = userSavedPositions.includes(parseInt(posId)) ? "{% static 'bookmark-solid.svg' %}" : "{% static 'bookmark-regular.svg' %}";
                        });
                    }
                
                    document.body.addEventListener("click", function(event) {
                        if (event.target.closest('.svg-container')) {
                            const saveIcon = event.target.closest('.svg-container');
                            const image = saveIcon.querySelector("img");
                            const positionId = saveIcon.dataset.positionId;
                
                            if (image.src.includes("bookmark-regular.svg")) {
                                fetch(`/save_position/${positionId}/`, {
                                    method: 'GET',
                                    headers: {
                                        'X-Requested-With': 'XMLHttpRequest',
                                        'Content-Type': 'application/json',
                                    },
                                    credentials: 'include'
                                })
                                .then(response => {
                                    if(response.status === 403 ){
                                        window.location.href = "/accounts/login/";
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    if (data.status === 'saved' || data.status === 'already_saved') {
                                        image.src = "{% static 'bookmark-solid.svg' %}";
                                        updateUserSavedPositions(parseInt(positionId), 'save');
                                    }
                                });
                            } else {
                                fetch(`/unsave_position/${positionId}/`, {
                                    method: 'GET',
                                    headers: {
                                        'X-Requested-With': 'XMLHttpRequest',
                                        'Content-Type': 'application/json',
                                    },
                                    credentials: 'include'
                                })
                                .then(response => {
                                    if(response.status === 403 ){
                                        window.location.href = "/accounts/login/";
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    if (data.status === 'unsaved') {
                                        image.src = "{% static 'bookmark-regular.svg' %}";
                                        updateUserSavedPositions(parseInt(positionId), 'unsave');
                                    }
                                });
                            }
                        }
                    });
                
                    var map = L.map("map", {
                        center: [41.320622708288376, 69.25399303436281],
                        zoom: 11,
                        gestureHandling: true
                    });
                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);
                
                    // Create a new marker cluster group
                    var markers = L.markerClusterGroup({
                        maxClusterRadius: 40, // Decrease radius for earlier splitting
                        disableClusteringAtZoom: 24, // Disable clustering at zoom level 14 and higher
                        zoomToBoundsOnClick: true // Zoom to bounds when clicking a cluster
                    });
                
                    let stations = JSON.parse(document.getElementById('stations_json').textContent);
                
                    stations.forEach(station => {
                        // Create a marker, but do not add it directly to the map
                        var marker = L.marker([station.latitude, station.longitude]);
                
                        // Add click event for each marker
                        marker.on('click', function () {
                            var isSaved = userSavedPositions.includes(station.id);
                            var saveIcon = isSaved ? "{% static 'bookmark-solid.svg' %}" : "{% static 'bookmark-regular.svg' %}";
                
                            var popupContent = `
                                <strong>${station.title}</strong><br>
                                <a href="${window.location.origin}/location/detail/${station.id}" target="_blank">Read More</a>
                                <img src="${window.location.origin}/media/${station.thumbnail}" alt="detail-image">
                                <div class="parent-container">
                                    <div class="svg-container" id="saveButton" aria-label="save" data-position-id="${station.id}">
                                        <img src="${saveIcon}" alt="image">
                                    </div>
                                </div>
                            `;
                
                            var popup = L.popup()
                                .setLatLng([station.latitude, station.longitude])
                                .setContent(popupContent)
                                .openOn(map);
                        });
                
                        // Add the marker to the cluster group
                        markers.addLayer(marker);
                    });
                
                    // Add the cluster group to the map
                    map.addLayer(markers);
                });
                
            </script>

            <div class="flex justify-end mt-4"> 
                <a href="{% url 'common:home' %}" class="justify-end bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>
            </div>
        </div>
    </div>
    <!-- event-end -->
    <!-- top-community -->
    {% include 'redesign/top_community.html' %}
</main>
{% endblock %}
