{% extends "redesign/base.html" %}
{% load i18n %}


{% block content %}

<main class="grid lg:grid-cols-4">
    <!-- event-start -->
    <div class="gap-10 lg:col-span-3 p-6">
            <div class="overflow-hidden relative bg-zinc-900 rounded-md p-3">
                <ul class="tags">
                    {% if position_detail %}
                    <p>{{position_detail.title}}</p>
                    <p>{{position_detail.description|safe}}</p>
                    <p>{{position_detail.arentir}}</p>
                    {% else %}
                    <li>No position found</li>
                    {% endif %}
                </ul>
            </div>

            <div class="flex justify-end"> 
                <a href="{% url 'common:home' %}" class="justify-end bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>
            </div>
    </div>
    <!-- event-end -->

    <!-- top-community -->
    {% include 'redesign/top_community.html' %}

</main>

{% endblock %}