{% extends "redesign/base.html" %}
{% load i18n %}

{% block custom_css %}
<!-- custom-css -->
<style>
    h1 {
        font-size: 32px;
    }
</style>
<!-- custom-css-end -->
{% endblock %}

{% block content %}
<main class="grid lg:grid-cols-4 max-w-screen-xl mx-auto gap-6">

    <div class="hidden lg:block">
        
    </div>
    <!-- Left main content starts -->
    <div class="lg:col-span-2 p-4">
        <div class="bg-zinc-900 rounded-md p-3">
            <h1 class="flex mb-3 font-weight-bold  justify-center" style="margin-bottom: 0.5rem; font-size: 32px;">
                {{ post.title }} {% trans 'IS MISSING' %}
            </h1>
            {% if post.photo %}
                <img src="{{ post.photo.url }}" class="card-img-top w-full object-cover h-64" alt="image">
            {% endif %}
            <div class="mt-6 space-y-4">
                <!-- Each row in the grid -->
                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'REPORTED AT' %}</span>
                    <span class="text-gray-200">{{ post.created_at }}</span>
                </div>

                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'UPDATED AT' %}</span>
                    <span class="text-gray-200">{{ post.updated_at }}</span>
                </div>
                
                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'DATE LOST' %}</span>
                    <span class="text-gray-200">{{ post.date_lost }}</span>
                </div>

                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'NAME' %}</span>
                    <span class="text-gray-200">{{ post.title }}</span>
                </div>

                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'POSTED BY' %}</span>
                    <span class="text-gray-200">{{ post.posted_by.username }}</span>
                </div>
                                 
                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'ANIMAL TYPE' %}</span>
                    <span class="text-gray-200">{{ post.animal_type }}</span>
                </div>
                
                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'ANIMAL GENDER' %}</span>
                    <span class="text-gray-200">{{ post.gender_type }}</span>
                </div>
                
                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'LOCATION' %}</span>
                    <span class="text-gray-200">{{ post.location }}</span>
                </div>

                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'DESCRIPTION' %}</span>
                    <span class="text-gray-200">{{ post.description }}</span>
                </div>

                <div class="grid grid-cols-2 gap-4 border-b border-gray-700 py-2">
                    <span class="font-semibold text-gray-300">{% trans 'CONTACT NUMBER' %}</span>
                    <span class="text-gray-200">{{ post.phone_number }}</span>
                </div>
                 
            </div>
            <br>
            <div class="flex justify-end"> 
                <a href="{% url 'book:lost-animal-list' %}" class="justify-end bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>
            </div>
        </div>
    </div>
    <!-- Left main content ends -->
    
    <!-- Right sticky sidebar ends -->
    {% include 'redesign/top_community.html'%}
    
</main>
{% endblock %}
