{% extends "redesign/base.html" %}
{% load i18n %}

{% block custom_css %}
<!-- custom-css -->
<style>
    blockquote {
        font-size: 1.1em;
        width: 90%;
        margin: 30px auto;
        font-family: Open Sans;
        font-style: italic;
        color: #555555;
        padding: 1em 10px 1em 7px;
        border-left: 8px solid #78C0A8;
        line-height: 1.6;
        position: relative;
        background: #EDEDED;
    }
    h1 {
        font-size: 32px;
    }
</style>
<!-- custom-css-end -->
{% endblock %}

{% block content %}
<main class="grid lg:grid-cols-4 max-w-screen-xl mx-auto gap-6">

    <!-- Right sticky sidebar ends -->
    <div class="hidden lg:block">
       
    </div>
    <!-- Left main content starts -->
    <div class="lg:col-span-2 p-4">
        <div class="bg-zinc-900 rounded-md p-3">
            <h1 class="mb-3 font-weight-bold" style="margin-bottom: 0.5rem; font-size: 32px;">
                {{ post.title }}
            </h1>
            <span class="opacity-60">{{ post.created_at }}</span>
            <br>
            <span>
                <i class="fa-solid fa-eye"></i>
                {{ post.views }}
            </span>
            <br>
            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top w-full object-cover h-64" alt="image">
            {% endif %}
            {{ post.content | safe }}
            
            <div class="flex justify-end"> 
                <a href="{% url 'common:home' %}" class="justify-end bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Back</a>
            </div>
        </div>
    </div>
    <!-- Left main content ends -->
    
    <!-- Right sticky sidebar ends -->
    {% include 'redesign/top_community.html'%}
    
</main>
{% endblock %}
