<!-- top books -->
<div class="pr-5">
    <div class="p-6 h-60 bg-blue-800 rounded-lg">
        <p>Yoshlar portali</p>
        <h2 class="font-bold text-xl max-w-60 mt-4">Aynan
            <span class="text-yellow-300">siz</span>
            uchun qanday
            imtiyozlar borligini bilib oling
        </h2>
        <button type="button" class="mt-6 text-white hover:bg-blue-800 focus:ring-4 
focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 
py-2 text-center dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-blue-800
ml-auto">Batafsil
            <i class="fa-solid fa-door-open"></i>
        </button>
    </div>
    <div class="mt-6 p-4 h-auto bg-zinc-900  rounded-lg">
        <h1 class="text-xl font-bold ">Top Jamoatlar</h1>
        <div class="grid grid-cols-1 mt-3">
            <!-- top-community -->
            {% for c in top_community %}
            <div class="grid grid-cols-3 mt-4">
                <div class="col-span-1 ">
                    <img src="{{c.image.url}}" alt="chessbook1" class="rounded-xl object-cover">
                </div>
                <div class="col-span-2 m-4">
                    <h2 class="text-sm font-bold w-full">{{c.title}}</h2>
                    <a href="{{c.telegram_link}}" target="_blank" class="mt-8 opacity-70 hover:text-blue-700">Link</a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>